# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Node
node_modules/
package-lock.json

# Secrets
.env
serviceAccountKey.json

# Old files
models/
routers/
schemas/
services/
templates/
database/
docs/
*.db
docker-compose.yml
Dockerfile
requirements.txt
main.py
database.py
